<app-nav-menu (showNavbarEvent)="showNavbar($event)"></app-nav-menu>
<div class="main-container">
    <mat-sidenav-container class="side-container">
        <mat-sidenav mode="side" [(opened)]="opened" class="side-nav-bar">
            <mat-action-list>
                <mat-list-item class="sidenav-list-items disable_ripple text-format">
                    <mat-icon fontSet="material-icons-outlined" class="icon">home</mat-icon>
                    <span class="align-text">Dashboard</span>
                </mat-list-item>
                <mat-divider></mat-divider>
                <mat-list-item id="features" class="disable_ripple text-format">FEATURES</mat-list-item>
                <mat-divider></mat-divider>

                <mat-expansion-panel [class.mat-elevation-z0]="true">
                    <mat-expansion-panel-header class="sidenav-list-items disable_ripple">
                        <mat-icon fontSet="material-icons-outlined" class="icon">place</mat-icon>
                        <span class="align-text text-format">Locations</span>
                    </mat-expansion-panel-header>
                    <mat-divider></mat-divider>
                    <mat-list-item [routerLink]="['locations']" class="sidenav-list-items disable_ripple text-format">
                        List</mat-list-item>
                    <mat-divider></mat-divider>
                    <mat-list-item class="sidenav-list-items disable_ripple text-format">Add location</mat-list-item>
                    <mat-divider></mat-divider>
                </mat-expansion-panel>
                <mat-divider></mat-divider>

                <mat-expansion-panel [class.mat-elevation-z0]="true">
                    <mat-expansion-panel-header class="sidenav-list-items disable_ripple text-format">
                        <mat-icon fontSet="material-icons-outlined" class="icon">smartphone</mat-icon>
                        <span class="align-text">Devices</span>
                    </mat-expansion-panel-header>
                    <mat-divider></mat-divider>
                    <mat-list-item [routerLink]="['devices']" class="sidenav-list-items disable_ripple text-format">List
                    </mat-list-item>
                    <mat-divider></mat-divider>
                    <mat-list-item [routerLink]="['device-add']" class="sidenav-list-items disable_ripple text-format">Add device</mat-list-item>
                    <mat-divider></mat-divider>
                    <mat-list-item [routerLink]="['device-types']" class="sidenav-list-items disable_ripple text-format">Device types</mat-list-item>
                    <mat-divider></mat-divider>
                    <mat-list-item class="sidenav-list-items disable_ripple text-format">Maintenance</mat-list-item>
                    <mat-divider></mat-divider>
                    <mat-list-item class="sidenav-list-items disable_ripple text-format">Alerts</mat-list-item>
                    <mat-divider></mat-divider>
                    <mat-list-item class="sidenav-list-items disable_ripple text-format">Logs</mat-list-item>
                    <mat-divider></mat-divider>
                </mat-expansion-panel>
                <mat-divider></mat-divider>

                <mat-expansion-panel [class.mat-elevation-z0]="true">
                    <mat-expansion-panel-header class="sidenav-list-items disable_ripple text-format">
                        <mat-icon fontSet="material-icons-outlined" class="icon">trending_up</mat-icon>
                        <span class="align-text">Device Thresholds</span>
                    </mat-expansion-panel-header>
                    <mat-divider></mat-divider>
                    <mat-list-item class="sidenav-list-items disable_ripple text-format">List</mat-list-item>
                    <mat-divider></mat-divider>
                </mat-expansion-panel>
                <mat-divider></mat-divider>

                <mat-expansion-panel [class.mat-elevation-z0]="true">
                    <mat-expansion-panel-header class="sidenav-list-items disable_ripple text-format">
                        <mat-icon fontSet="material-icons-outlined" class="icon">pie_chart</mat-icon>
                        <span class="align-text">Reports</span>
                    </mat-expansion-panel-header>
                    <mat-divider></mat-divider>
                    <mat-list-item class="sidenav-list-items disable_ripple text-format">List</mat-list-item>
                    <mat-divider></mat-divider>
                </mat-expansion-panel>
                <mat-divider></mat-divider>

                <mat-expansion-panel [class.mat-elevation-z0]="true">
                    <mat-expansion-panel-header class="sidenav-list-items disable_ripple text-format">
                        <mat-icon fontSet="material-icons-outlined" class="icon">cell_tower</mat-icon>
                        <span class="align-text">Middlewares</span>
                    </mat-expansion-panel-header>
                    <mat-divider></mat-divider>
                    <mat-list-item class="sidenav-list-items disable_ripple text-format">List</mat-list-item>
                    <mat-divider></mat-divider>
                </mat-expansion-panel>
                <mat-divider></mat-divider>

                <mat-expansion-panel [class.mat-elevation-z0]="true">
                    <mat-expansion-panel-header class="sidenav-list-items disable_ripple text-format">
                        <mat-icon fontSet="material-icons-outlined" class="icon">supervisor_account</mat-icon>
                        <span class="align-text">Users</span>
                    </mat-expansion-panel-header>
                    <mat-divider></mat-divider>
                    <mat-list-item class="sidenav-list-items disable_ripple text-format">List</mat-list-item>
                    <mat-divider></mat-divider>
                </mat-expansion-panel>
                <mat-divider></mat-divider>

                <mat-expansion-panel [class.mat-elevation-z0]="true">
                    <mat-expansion-panel-header class="sidenav-list-items disable_ripple text-format">
                        <mat-icon fontSet="material-icons-outlined" class="icon">settings</mat-icon>
                        <span class="align-text">Configuration</span>
                    </mat-expansion-panel-header>
                    <mat-divider></mat-divider>
                    <mat-list-item class="sidenav-list-items disable_ripple text-format">List</mat-list-item>
                    <mat-divider></mat-divider>
                </mat-expansion-panel>
                <mat-divider></mat-divider>
            </mat-action-list>
        </mat-sidenav>
        <mat-sidenav-content class="sidenav-content">
            <router-outlet></router-outlet>
        </mat-sidenav-content>
    </mat-sidenav-container>
</div>