<div mat-dialog-content>
    <mat-card-title class="dialog-title">{{this.data.dialogTitle}}</mat-card-title>
    <mat-divider></mat-divider>
    <form class="form-custom" appearance="fill" #deviceReadingTypeForm="ngForm">

        <span class="field-name">Unit<span class="required-star"> *</span></span>
        <mat-form-field floatLabel="never" class="input-text-field">
            <input matInput placeholder="Unit" type="text" name="deviceReadingTypeName"
                [(ngModel)]="deviceReadingTypeName" required>
        </mat-form-field>

        <div mat-dialog-actions class="dialog-buttons">
            <button class="save-btn" mat-raised-button (click)="dialogSave(deviceReadingTypeForm.value)"
                [disabled]="!deviceReadingTypeForm.valid">SAVE</button>
            <button class="cancel-btn" mat-raised-button (click)="onCancelClick()">CANCEL</button>
        </div>
        
        <mat-divider></mat-divider>
    </form>
</div>