<router-outlet></router-outlet>
<!-- <div class="content" role="main">
    <button (click)="goToLoginPage()"> Login </button>
    <button (click)="goToSignPage()"> Sign up </button>
    <button (click)="goToAdminPage()"> Admin </button>
</div>  -->

<div class="hero">
    <nav>
        <img src="/assets/images/EnsuringSafety.png" class="logo animLeft">
            <ul class="animRight">
                <li><a href="/login">Log In</a></li>
                <li><a href="/user">Sign Up</a></li>
                <li><a href="/loginAdmin">Admin Access</a></li>
            </ul>

    </nav>
    <div class="content">
        <h1 class="anim">Manage<br><br>Your Devices</h1>
        <p class="anim">Ensuring Safety is a platform for managing medical devices in a secure way.</p>
        <a href="#" class="btn anim">More details</a>
    </div>
    <img src="/assets/images/devices.jpg" class="feature-img anim">

</div>