.sort-arrow {
  transform: scale(0.7);
  vertical-align: middle;
}

.mat-form-field {
  border: solid 2px #dbdfe4;
  max-width: 90%;
  max-height: 30px;
  border-radius: 5px;
  display: flex;
  align-items: center;
  padding-left: 10px;
  padding-top: 5px;
}

.image {
  max-width: 150px;
}

.image:hover {
  cursor: pointer;
}

.cancel-btn {
  background-color: #0095FF;
  color: white;
  width: 7%;
  display: flex;
  justify-content: center;
  min-width: 200px; 
}

.center-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 300px; 
}