<div>
  <mat-card class="mat-elevation-z10 card-container">
    <mat-card-title class="title">Users</mat-card-title>
    <mat-divider></mat-divider>
    <mat-card-content>
      <table mat-table [dataSource]="users" class="mat-elevation-z8 width-table">
        <ng-container matColumnDef="username">
          <th mat-header-cell *matHeaderCellDef (click)="sortData('Username')"> Username
            <mat-icon *ngIf="userParameters.orderDescending && isSorting('Username')" class="sort-arrow">arrow_downward
            </mat-icon>
            <mat-icon *ngIf="!userParameters.orderDescending && isSorting('Username')" class="sort-arrow">arrow_upward
            </mat-icon>
          </th>
          <td mat-cell *matCellDef="let user" (click)="editing = true;verifyUpdate(user)">
            <div *ngIf="!editing; else editingTemplate">
              {{user.username}} </div>
            <ng-template #editingTemplate>
              <input [(ngModel)]="user.username" (blur)="updateEditableField(user)">
            </ng-template>
          </td>
        </ng-container>
        <mat-divider [vertical]="true"></mat-divider>

        <ng-container matColumnDef="roleType">
          <th mat-header-cell *matHeaderCellDef (click)="sortData('RoleId')"> Role
            <mat-icon *ngIf="userParameters.orderDescending && isSorting('RoleId')" class="sort-arrow">
              arrow_downward</mat-icon>
            <mat-icon *ngIf="!userParameters.orderDescending && isSorting('RoleId')" class="sort-arrow">
              arrow_upward</mat-icon>
          </th>
          <td mat-cell *matCellDef="let user" (click)="editing = true">
            <div *ngIf="!editing; else editingTemplate">
              {{user.role.roleType}} </div>
            <ng-template #editingTemplate>
              <mat-select [(value)]="user.role.id" placeholder="Role type" ([ngModel])="user.role.roleType">
                <mat-option *ngFor="let role of RoleTypes" [value]="role.value"
                  (click)="user.role.id=role.value;updateEditableField(user)">
                  {{role.roleType}}
                </mat-option>
              </mat-select>
            </ng-template>
          </td>
        </ng-container>

        <ng-container matColumnDef="isActive">
          <th mat-header-cell *matHeaderCellDef (click)="sortData('IsActive')"> Status
            <mat-icon *ngIf="userParameters.orderDescending && isSorting('IsActive')" class="sort-arrow">
              arrow_downward</mat-icon>
            <mat-icon *ngIf="!userParameters.orderDescending && isSorting('IsActive')" class="sort-arrow">
              arrow_upward</mat-icon>
          </th>
          <td mat-cell *matCellDef="let user"> <input type="checkbox" [checked]="user.isActive" [(ngModel)]="user.isActive"></td>
        </ng-container>

        <ng-container matColumnDef="actions-empty-cell">
          <th mat-header-cell *matHeaderCellDef [attr.colspan]="1"></th>
        </ng-container>

        <ng-container matColumnDef="actions">
          <th mat-header-cell *matHeaderCellDef> Actions </th>
          <td mat-cell *matCellDef="let user">
            <button mat-icon-button routerLink="/user/{{user.userId}}">
              <mat-icon>edit</mat-icon>
            </button>
            <button mat-icon-button (click)="deleteUser(user.userId)">
              <mat-icon>delete</mat-icon>

            </button>
          </td>
        </ng-container>

        <ng-container matColumnDef="username-filter-box">
          <th mat-header-cell *matHeaderCellDef [attr.colspan]="1">
            <div fxLayout fxLayoutAlign="center center">
              <mat-form-field floatLabel="never" class="form-field">
                <input autocomplete="off" class="input-text-field" matInput type="text"
                  [(ngModel)]="userParameters.username" (keyup)="filterUsers()" placeholder="Username">
              </mat-form-field>
            </div>
          </th>
        </ng-container>

        <ng-container matColumnDef="roleType-filter-box">
          <th mat-header-cell *matHeaderCellDef [attr.colspan]="1">
            <div fxLayout fxLayoutAlign="center center">
              <mat-form-field>
                <mat-select [(value)]="userParameters.roleId" placeholder="Role type">
                  <mat-option [value]="1" (click)="filterUsers()">
                    Admins
                  </mat-option>
                  <mat-option [value]="2" (click)="filterUsers()">
                    Agents
                  </mat-option>
                  <mat-option [value]="3" (click)="filterUsers()">
                    Operators
                  </mat-option>
                  <mat-option [value]="4" (click)="filterUsers()">
                    Observers
                  </mat-option>
                  <mat-option (click)="filterUsers()">
                    Any
                  </mat-option>
                </mat-select>
              </mat-form-field>
            </div>
          </th>
        </ng-container>

        <ng-container matColumnDef="isActive-filter-box">
          <th mat-header-cell *matHeaderCellDef [attr.colspan]="1">
            <div fxLayout fxLayoutAlign="center center">
              <mat-form-field class="status-form-field">
                <mat-select [(value)]="userParameters.isActive" placeholder="Status">
                  <mat-option [value]="true" (click)="filterUsers()">
                    Active
                  </mat-option>
                  <mat-option [value]="false" (click)="filterUsers()">
                    Not active
                  </mat-option>
                  <mat-option (click)="filterUsers()">
                    Any
                  </mat-option>
                </mat-select>
              </mat-form-field>
            </div>
          </th>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="columnsToDisplay"></tr>
        <tr mat-header-row
          *matHeaderRowDef="['username-filter-box', 'roleType-filter-box', 'isActive-filter-box','actions-empty-cell']">
        </tr>
        <tr mat-row *matRowDef="let myRowData; columns: columnsToDisplay"></tr>
      </table>
    </mat-card-content>
    <mat-paginator #paginator showFirstLastButtons [length]="length" [pageIndex]="pageIndex" [pageSize]="pageSize"
      [pageSizeOptions]="pageSizeOptions" (page)="pageChangeEvent($event)" aria-label="Select page">
    </mat-paginator>
    <mat-divider></mat-divider>
    <button class="button-link" mat-raised-button routerLink="/user">ADD USER</button>
  </mat-card>
</div>