.mat-card-header {
    font-weight: bold;
    padding-bottom: 15px;
}

.card-container {
    margin-left: 50px;
    width: 90%;
    margin-top: 50px;
}

.account-text {
    margin-top: 30px;
}

.mat-card-content {
    margin-left: 30px;
}

.input-text-field {
    min-width: 150px;
    width: 100%;
}

.field-name {
    color: grey;
}

.star {
    color: red;
}

.cancel-btn {
    background-color: rgb(46, 128, 252);
    color: white;
}

.buttons-container {
    margin-left: 30px;
}

::ng-deep .mat-checkbox-checked.mat-accent .mat-checkbox-background {
    background-color: rgb(46, 128, 252);
}