<mat-card class="mat-elevation-z10 card-container matcard">
    <mat-card-title class="title">
        <span>{{!isEditMode ? 'Add' : 'Edit'}} user</span>
    </mat-card-title>

    <mat-divider></mat-divider>

    <form [formGroup]="addEditUserForm">
        <mat-card-content>
            <label class="field-name">Username*</label>
            <mat-form-field floatLabel="never" class="input-text-field">
                <mat-label>email@smedix.com</mat-label>
                <input autocomplete="off" matInput type="email" formControlName="username" [(ngModel)]="user.username">
                <mat-error *ngIf="addUser.username.hasError">Please enter a valid email</mat-error>
            </mat-form-field>
        </mat-card-content>

        <mat-card-content *ngIf="this.allRoles.length > 0">
            <label class="field-name">Role*</label>
            <mat-form-field floatLabel="never" class="input-text-field">
                <mat-label for="role">Select role</mat-label>
                <mat-select matInput formControlName="role" placeholder="Select role" [compareWith]="compareIds" [(ngModel)]="user.roleId">
                    <mat-option *ngFor="let role of allRoles" [value]="role.id">{{role.roleType}}</mat-option>
                </mat-select>
            </mat-form-field>
        </mat-card-content>

        <mat-card-content>
            <mat-checkbox [checked]="!addEditUserForm.value.resolved" 
            (change)="addEditUserForm.get('isActive')?.setValue($event.checked)" 
            formControlName="isActive" [(ngModel)]="user.isActive">Is active</mat-checkbox>
        </mat-card-content>

        <mat-card-actions class="buttons-container">
            <button mat-raised-button class="save-btn" [disabled]="!addEditUserForm.valid" (click)="addEditUser()">SAVE</button>
            <button mat-raised-button class="cancel-btn" routerLink="/users">CANCEL</button>
        </mat-card-actions>

    </form>
</mat-card>
