<div class="device-container">
    <mat-card class="mat-elevation-z10 card-container">
        <mat-card-title>Device Thresholds</mat-card-title>
        <mat-divider></mat-divider>
        <mat-card-content>
            <table mat-table [dataSource]="dataSource" matSort class="mat-elevation-z8 width-table"
                matSortActive="deviceType" matSortDirection="asc" matSortDisableClear>
                <ng-container matColumnDef="deviceType">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Device Type </th>
                    <td mat-cell *matCellDef="let threshold"> {{threshold.deviceType.name}} </td>
                </ng-container>

                <ng-container matColumnDef="deviceType-filter">
                    <th mat-header-cell *matHeaderCellDef [attr.colspan]="1">
                        <div fxLayout fxLayoutAlign="center center">
                            <mat-form-field floatLabel="never" class="form-field">
                                <input autocomplete="off" matInput type="text" [formControl]="deviceTypeFilter" placeholder="Device Type">
                            </mat-form-field>
                        </div>
                    </th>
                </ng-container>

                <ng-container matColumnDef="readingType">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Reading Type </th>
                    <td mat-cell *matCellDef="let threshold"> {{threshold.deviceReadingType.name}} </td>
                </ng-container>

                <ng-container matColumnDef="deviceReadingType-filter">
                    <th mat-header-cell *matHeaderCellDef [attr.colspan]="1">
                        <div fxLayout fxLayoutAlign="center center">
                            <mat-form-field floatLabel="never" class="form-field">
                                <input autocomplete="off" matInput type="text" [formControl]="deviceReadingTypeFilter"
                                    placeholder="Reading Type">
                            </mat-form-field>
                        </div>
                    </th>
                </ng-container>

                <mat-divider [vertical]="true"></mat-divider>

                <ng-container matColumnDef="minValue">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Min Value </th>
                    <td mat-cell *matCellDef="let threshold"> {{threshold.minValue}} </td>
                </ng-container>

                <ng-container matColumnDef="minValue-filter">
                    <th mat-header-cell *matHeaderCellDef [attr.colspan]="1">
                        <div fxLayout fxLayoutAlign="center center">
                            <mat-form-field floatLabel="never" class="form-field">
                                <input autocomplete="off" matInput type="text" [formControl]="minValueFilter" placeholder="Min Value">
                            </mat-form-field>
                        </div>
                    </th>
                </ng-container>

                <ng-container matColumnDef="warningValue">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Warning Value </th>
                    <td mat-cell *matCellDef="let threshold"> {{threshold.warningValue}} </td>
                </ng-container>

                <ng-container matColumnDef="warningValue-filter">
                    <th mat-header-cell *matHeaderCellDef [attr.colspan]="1">
                        <div fxLayout fxLayoutAlign="center center">
                            <mat-form-field floatLabel="never" class="form-field">
                                <input autocomplete="off" matInput type="text" [formControl]="warningValueFilter"
                                    placeholder="Warning Value">
                            </mat-form-field>
                        </div>
                    </th>
                </ng-container>

                <ng-container matColumnDef="criticalValue">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Critical Value </th>
                    <td mat-cell *matCellDef="let threshold"> {{threshold.criticalValue}} </td>
                </ng-container>

                <ng-container matColumnDef="criticalValue-filter">
                    <th mat-header-cell *matHeaderCellDef [attr.colspan]="1">
                        <div fxLayout fxLayoutAlign="center center">
                            <mat-form-field floatLabel="never" class="form-field">
                                <input autocomplete="off" matInput type="text" [formControl]="criticalValueFilter"
                                    placeholder="Critical Value">
                            </mat-form-field>
                        </div>
                    </th>
                </ng-container>

                <ng-container matColumnDef="maxValue">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Max Value</th>
                    <td mat-cell *matCellDef="let threshold"> {{threshold.maxValue}} </td>
                </ng-container>

                <ng-container matColumnDef="maxValue-filter">
                    <th mat-header-cell *matHeaderCellDef [attr.colspan]="1">
                        <div fxLayout fxLayoutAlign="center center">
                            <mat-form-field floatLabel="never" class="form-field">
                                <input autocomplete="off" matInput type="text" [formControl]="maxValueFilter" placeholder="Max Value">
                            </mat-form-field>
                        </div>
                    </th>
                </ng-container>

                <ng-container matColumnDef="actions">
                    <th mat-header-cell *matHeaderCellDef> Actions </th>
                    <td mat-cell *matCellDef="let threshold">
                        <button mat-icon-button>
                            <mat-icon>edit</mat-icon>
                        </button>
                        <button mat-icon-button>
                            <mat-icon (click)="openConfirmationDialog(threshold)">delete</mat-icon>
                        </button>
                    </td>
                </ng-container>

                <ng-container matColumnDef="empty-cell">
                    <th mat-header-cell *matHeaderCellDef [attr.colspan]="1"></th>
                </ng-container>

                <tr mat-header-row *matHeaderRowDef="columnsToDisplay"></tr>
                <tr mat-header-row *matHeaderRowDef="columnsToDisplayFilter"></tr>
                <tr mat-row *matRowDef="let myRowData; columns: columnsToDisplay"></tr>
            </table>
        </mat-card-content>
        <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
        <mat-divider></mat-divider>
        <button class="button-link" mat-raised-button routerLink="/add-threshold">ADD THRESHOLD</button>
    </mat-card>
</div>