<mat-card class="mat-elevation-z10 card-container matcard">
    <mat-card-title class="title">
        <button routerLink="/dashboard" mat-raised-button class="cancel-btn">Back to main page</button>
      <br>
      <br>
        <span>{{!isEditMode ? 'Add' : 'Edit'}} location</span>
    </mat-card-title>
    <mat-divider></mat-divider>
    <mat-card-content>
        <form [formGroup]="addEditLocationForm">
            <mat-card-content>
                <span class="field-name"> Account<span class="required-star"> *</span></span>
                <mat-form-field floatLabel="never" class="input-text-field">
                    <mat-label>Account</mat-label>
                    <input autocomplete="off" matInput placeholder="Account" name="name" formControlName="name"
                        type="text" [(ngModel)]="location.name">
                    <mat-error *ngIf="addLocation.name.hasError"></mat-error>
                </mat-form-field>
            </mat-card-content>

            <mat-card-content>
                <span class="field-name"> Country<span class="required-star"> *</span></span>
                <mat-form-field floatLabel="never" class="input-text-field">
                    <mat-label>Country</mat-label>
                    <input autocomplete="off" matInput placeholder="Country" name="country" formControlName="country"
                        type="text" [(ngModel)]="location.country">
                    <mat-error *ngIf="addLocation.country.hasError"></mat-error>
                </mat-form-field>
            </mat-card-content>

            <mat-card-content>
                <span class="field-name"> City<span class="required-star"> *</span></span>
                <mat-form-field floatLabel="never" class="input-text-field">
                    <mat-label>City</mat-label>
                    <input autocomplete="off" matInput placeholder="City" name="city" formControlName="city" type="text"
                        [(ngModel)]="location.city">
                    <mat-error *ngIf="addLocation.city.hasError"></mat-error>
                </mat-form-field>
            </mat-card-content>

            <mat-card-content>
                <span class="field-name"> Address<span class="required-star"> *</span></span>
                <mat-form-field floatLabel="never" class="input-text-field">
                    <mat-label>Address</mat-label>
                    <input autocomplete="off" matInput placeholder="Address" name="address" formControlName="address"
                        type="text" [(ngModel)]="location.address">
                    <mat-error *ngIf="addLocation.address.hasError"></mat-error>
                </mat-form-field>
            </mat-card-content>

            <mat-card-content>
                <label class="field-name">Contact Email</label>
                <mat-form-field floatLabel="never" class="input-text-field">
                    <mat-label>Contact Email</mat-label>
                    <input autocomplete="off" type="email" matInput placeholder="email@xyz.abc" name="contactEmail"
                        formControlName="contactEmail" class="form-input-field" [(ngModel)]="location.contactEmail" />
                    <mat-error *ngIf="addLocation.contactEmail.hasError">Please enter a valid email address</mat-error>
                </mat-form-field>

                <mat-checkbox [checked]="!addEditLocationForm.value.resolved" [(ngModel)]="checked"
                    [ngModelOptions]="{standalone:true}"
                    (change)="addEditLocationForm.get('emailAlerts')?.setValue($event.checked)"
                    fromControlName="emailAlerts" class="email-checkbox" [(ngModel)]="location.emailAlertsActive">Email
                    Alerts</mat-checkbox>
            </mat-card-content>

            <mat-card-content>
                <label class="field-name">Recipient Email</label>
                <mat-form-field floatLabel="never" class="input-text-field">
                    <mat-label>Recipient Email</mat-label>
                    <input autocomplete="off" type="email" matInput placeholder="email@xyz.abc" name="emailRecipient"
                        formControlName="emailRecipient" class="form-input-field"
                        [(ngModel)]="location.emailRecipient" />
                    <mat-error *ngIf="addLocation.emailRecipient.hasError">Please enter a valid email address
                    </mat-error>
                </mat-form-field>
            </mat-card-content>

            <mat-card-content>
                <label class="field-name">Latitude</label><br>
                <mat-form-field class="input-text-field">
                    <input autocomplete="off" matInput name="latitude" formControlName="latitude" type="text"
                        [value]="this.initLat" [(ngModel)]="location.latitude">
                </mat-form-field>
                <br>
                <label class="field-name">Longitude</label><br>
                <mat-form-field class="input-text-field">
                    <input autocomplete="off" matInput name="longitude" formControlName="longitude" type="text"
                        [value]="this.initLng" [(ngModel)]="location.longitude">
                </mat-form-field>

                <app-map (latitudeEvent)="latitudeHandler($event)" (longitudeEvent)="longitudeHandler($event)"
                    [lat]="location.latitude!" [lng]="location.longitude!">
                </app-map>
            </mat-card-content>

            <mat-card-actions class="buttons-container">
                <button (click)="addOrEditLocation()" mat-raised-button class="save-btn"
                    [disabled]="!addEditLocationForm.valid">
                    SAVE
                </button>
                <button routerLink="/locations" mat-raised-button class="cancel-btn">CANCEL</button>
            </mat-card-actions>
        </form>
    </mat-card-content>
    
    <div *ngIf="isEditMode">
        <mat-card class="mat-elevation-z10 card-container">
            <mat-card-title class="title">Devices</mat-card-title>
            <mat-divider></mat-divider>
            <mat-card-content>
                <table mat-table [dataSource]="allDevices" class="mat-elevation-z8 device-table width-table">
                    <ng-container matColumnDef="name"> 
                        <th mat-header-cell *matHeaderCellDef> Name </th>
                        <td mat-cell *matCellDef="let device"> {{device.name}} </td> 
                    </ng-container>

                    <ng-container matColumnDef="serialNumber">
                        <th mat-header-cell *matHeaderCellDef> Serial Number </th> 
                        <td mat-cell *matCellDef="let device"> {{device.serialNumber}} </td>
                    </ng-container>
                    <mat-divider [vertical]="true"></mat-divider>
                    <ng-container matColumnDef="deviceType"> 
                        <th mat-header-cell *matHeaderCellDef> Type </th>
                        <td mat-cell *matCellDef="let device"> {{device.deviceType.name}} </td>
                    </ng-container>
                    
                    <ng-container matColumnDef="location">
                        <th mat-header-cell *matHeaderCellDef> Location </th>
                        <td mat-cell *matCellDef="let device"> {{device.location.name}} </td> 
                    </ng-container>

                    <ng-container matColumnDef="imagePath">
                        <th mat-header-cell *matHeaderCellDef> Image </th>
                        <td mat-cell *matCellDef="let device"> {{device.imagePath}} </td>
                    </ng-container>

                    <ng-container matColumnDef="description">
                         <th mat-header-cell *matHeaderCellDef> Description</th>
                         <td mat-cell *matCellDef="let device"> {{device.description}} </td>
                    </ng-container> 
                    
                    <ng-container matColumnDef="actions">
                        <th mat-header-cell *matHeaderCellDef> Actions </th>
                          <td mat-cell *matCellDef="let device">
                            <button mat-icon-button routerLink="/device/{{device.deviceId}}">
                             <mat-icon>edit</mat-icon>
                            </button>
                            <button mat-icon-button>
                             <mat-icon (click)="onDelete(device)">delete</mat-icon>
                            </button> 
                           </td>  
                    </ng-container>

                    <tr mat-header-row *matHeaderRowDef="columnsToDisplay"></tr>
                    <tr mat-row *matRowDef="let myRowData; columns: columnsToDisplay"></tr> 
                </table>
                </mat-card-content>
                <mat-divider></mat-divider>
                <button class="button-link" mat-raised-button routerLink="/device">ADD DEVICE</button>
        </mat-card>
    </div>
</mat-card>