/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.dialog-title {
    font-weight: 500;
    font-size: 20px;
    padding-bottom: 20px;
    margin-top: 10px;
}

.input-text-field {
    min-width: 150px;
    width: 98%;
    background-color: #F7F9FC;
    appearance: none;
    border-radius: 5px;
    padding-left: 17px;
    max-height: 35px;
    margin-bottom: 10px;
    padding-bottom: 15px;
}

.cancel-btn {
    background-color: #0095FF;
    color: white;
}

.save-btn {
    background-color: #E4E7ED;
}

.unique-name-error {
    margin-bottom: 5px;
    color: red;
}

.required-star{
    color: red;
}