  .left-stripe,
  .right-stripe {
    position: fixed;
    top: 0;
    height: 100%;
    width: 113px;
    background-color: #92c7ec; 
    z-index: 999; 
  }

  .left-stripe {
    left: 0;
  }

  .right-stripe {
    right: 0;
  }

  .anim{
    opacity: 0;
    transform: translateY(100px);
    animation: moveup 0.5s linear forwards;
}
@keyframes moveup{
    100%{
        opacity: 1;
        transform: translateY(0px);
    }
}
