<div class="maintenance-container">
  <mat-card class="mat-elevation-z10 card-container">
    <mat-card-title>Maintenance</mat-card-title>
    <mat-divider></mat-divider>
    <mat-card-content>
      <table mat-table [dataSource]="maintenances" class="mat-elevation-z8 width-table">
        <ng-container matColumnDef="device">
          <th mat-header-cell *matHeaderCellDef> Device </th>
          <td mat-cell *matCellDef="let maintenance"> {{maintenance.maintenanceDeviceDto.deviceName}} </td>
        </ng-container>

        <ng-container matColumnDef="description">
          <th mat-header-cell *matHeaderCellDef> Description </th>
          <td mat-cell *matCellDef="let maintenance"> {{maintenance.description}} </td>
        </ng-container>
        <mat-divider [vertical]="true"></mat-divider>
        <ng-container matColumnDef="outcome">
          <th mat-header-cell *matHeaderCellDef> Outcome </th>
          <td mat-cell *matCellDef="let maintenance"> {{maintenance.outcome}} </td>
        </ng-container>

        <ng-container matColumnDef="status">
          <th mat-header-cell *matHeaderCellDef> Status </th>
          <td mat-cell *matCellDef="let maintenance"> {{maintenance.status}} </td>
        </ng-container>

        <ng-container matColumnDef="scheduledDate">
          <th mat-header-cell *matHeaderCellDef> Scheduled Date </th>
          <td mat-cell *matCellDef="let maintenance"
            [ngClass]="{
              'negative': handleDate(maintenance.scheduledDate, this.dateNow) < 60,
              'medium': handleDate(maintenance.scheduledDate, this.dateNow) > 60 && handleDate(maintenance.scheduledDate, this.dateNow) < 90,
              'positive': handleDate(maintenance.scheduledDate, this.dateNow) > 90
            }"
          > {{maintenance.scheduledDate | date: 'dd MMM y'}} </td>
        </ng-container>

        <ng-container matColumnDef="actualDate">
          <th mat-header-cell *matHeaderCellDef> Actual Date </th>
          <td mat-cell *matCellDef="let maintenance"> {{maintenance.actualDate == null ? 'N/A' : maintenance.actualDate | date: 'dd MMM y'}} </td>
        </ng-container>

        <ng-container matColumnDef="createdAt">
          <th mat-header-cell *matHeaderCellDef> Created At </th>
          <td mat-cell *matCellDef="let maintenance"> {{maintenance.createdAt | date: 'dd MMM y'}} </td>
        </ng-container>

        <ng-container matColumnDef="createdBy">
          <th mat-header-cell *matHeaderCellDef> Created By </th>
          <td mat-cell *matCellDef="let maintenance"> {{maintenance.createdBy}} </td>
        </ng-container>

        <ng-container matColumnDef="actions">
          <th mat-header-cell *matHeaderCellDef> Actions </th>
          <td mat-cell *matCellDef="let maintenance">
            <button mat-icon-button>
              <mat-icon>edit</mat-icon>
            </button>
            <button mat-icon-button>
              <mat-icon>delete</mat-icon>
            </button>
          </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="columnsToDisplay"></tr>
        <tr mat-row *matRowDef="let myRowData; columns: columnsToDisplay"></tr>
      </table>
    </mat-card-content>
    <mat-paginator #paginator showFirstLastButtons [length]="length" [pageIndex]="pageIndex" [pageSize]="pageSize"
      [pageSizeOptions]="pageSizeOptions" (page)="pageChangeEvent($event)" aria-label="Select page">
    </mat-paginator>
    <mat-divider></mat-divider>
    <button class="button-link" mat-raised-button>ADD MAINTENANCE</button>
  </mat-card>
</div>