<div mat-dialog-content>
  <form class="form-custom" [formGroup]="addDeviceReadingTypeForm">
    <mat-card-title class="dialog-title">Edit device reading type</mat-card-title>
    <div class="form-content">
      <span class="field-name">Name</span>
      <mat-form-field floatLabel="never" class="input-text-field">
        <input matInput placeholder="Name" type="text" name="deviceReadingTypeName" formControlName="name"
               type="test">
      </mat-form-field>
      <span class="field-name">Unit</span>
      <mat-form-field floatLabel="never" class="input-text-field">
        <input matInput placeholder="Unit" type="text" name="unit" formControlName="unit" type="text">
      </mat-form-field>
    </div>
    <div mat-dialog-actions class="dialog-buttons">
      <button class="cancel-btn" mat-raised-button (click)="onCancelClick()">CANCEL</button>
      <button class="save-btn" mat-raised-button (click)="updateDeviceReading()">SUBMIT</button>
    </div>
  </form>
</div>
