.mat-form-field {
    padding-bottom: 15px;
    color: grey;
    height: 28px;
    font-size: 13px;
    line-height: 13px;
}

.cancel-button {
    color: white;
    background-color: #2a7de2;
    width: 7%;
    display: flex;
    justify-content: center;
}

.save-button {
    color: gray;
    background-color: white;
    width: 5%;
    display: flex;
    justify-content: center;
    margin-right: 5px;
    margin-left: -12px;
}

.buttons-container {
    display: flex;
    flex-direction: row;
    margin-left: 20px;
}

.mat-card {
    margin-left: 30px;
    width: 90%;
    height: fit-content;
    margin-top: 20px;
}

.field-name {
    color: rgb(140, 145, 149);
    font-size: smaller;
    font-weight: bold;
}

.title {
    padding: 13px;
}

.matcard {
    margin-top: 45px;
}

::ng-deep .mat-form-field-underline {
    display: none;
}

.mat-card-title {
    font-size: 18px;
    font-weight: 500;
    margin-bottom: 18px;
    margin-left: 10px;
}

.mat-card-content {
    margin-left: 10px;
    margin-top: -6px;
}

.mat-card>:first-child,
.mat-card-content>:first-child {
    margin-top: -11px;
}

::ng-deep .mat-select-arrow-wrapper {
    margin-right: 12px;
}