.form-field {
  border: solid 2px #dbdfe4;
  max-width: 90%;
  max-height: 30px;
  border-radius: 5px;
  display: flex;
  align-items: center;
  padding-left: 10px;
  padding-top: 5px;
}

::ng-deep .mat-form-field-underline {
  display: none; 
}

.mat-header-cell {
  color: #1e6bb8;
  font-size: 15px;
  border-top: 0.5px solid rgba(0, 0, 0, 0.12);
  border-left: 0.5px solid rgba(0, 0, 0, 0.12);
  padding-left: 10px;
}

.mat-cell {
  border-bottom: 0.5px solid rgba(0, 0, 0, 0.12);
  border-top: 0.5px solid rgba(0, 0, 0, 0.12);
  border-left: 0.5px solid rgba(0, 0, 0, 0.12);
  vertical-align: middle;
  padding-left: 10px;
}