<div class="device-container">
  <mat-card class="mat-elevation-z10 card-container">
    <mat-card-title>Device Reading Types</mat-card-title>
    <mat-divider></mat-divider>
    <mat-card-content>
      <table mat-table matSort [dataSource]="dataSource" class="width-table" matSortActive="name" matSortDirection="asc" matSortDisableClear>
        <ng-container matColumnDef="name-filter-box">
            <th mat-header-cell *matHeaderCellDef [attr.colspan]="1">
              <div fxLayout fxLayoutAlign="center center">
                <mat-form-field floatLabel="never" class="form-field">
                  <input matInput type="text" [formControl]="nameFilter" placeholder="Name">
                </mat-form-field>
              </div>
            </th>
          </ng-container>

          <ng-container matColumnDef="unit-filter-box">
            <th mat-header-cell *matHeaderCellDef [attr.colspan]="1">
              <div fxLayout fxLayoutAlign="center center">
                <mat-form-field floatLabel="never" class="form-field">
                  <input matInput type="text" [formControl]="unitFilter" placeholder="Unit">
                </mat-form-field>
              </div>
            </th>
          </ng-container>

          <ng-container matColumnDef="empty-cell">
            <th mat-header-cell *matHeaderCellDef [attr.colspan]="1"></th>
          </ng-container>

        <ng-container matColumnDef="name">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Name</th>
          <td mat-cell *matCellDef="let deviceReadingTypes">{{deviceReadingTypes.name}}</td>
        </ng-container>

        <ng-container matColumnDef="unit">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Unit</th>
          <td mat-cell *matCellDef="let deviceReadingTypes">{{deviceReadingTypes.unit}}</td>
        </ng-container>

          <ng-container matColumnDef="actions">
            <th mat-header-cell *matHeaderCellDef>Action</th>
            <td mat-cell *matCellDef="let row;">
              <a mat-icon-button (click)="openEditDialog(row)">
                <mat-icon>edit</mat-icon>
              </a>
              <a mat-icon-button>
                <mat-icon (click)="openConfirmationDialog(row)">delete</mat-icon>
              </a>
            </td>
          </ng-container>

        <tr mat-header-row *matHeaderRowDef="columnsToDisplay"></tr>
        <tr mat-header-row *matHeaderRowDef="['name-filter-box', 'unit-filter-box', 'empty-cell']"></tr>
        <tr mat-row *matRowDef="let myRowData; columns: columnsToDisplay"></tr>
      </table>
      <button class="buttons" mat-raised-button (click)="openDialog()">ADD DEVICE READING TYPE</button>
    </mat-card-content>
    <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
  </mat-card>
</div>
